@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #000000cc;
}
.bot:hover{
 background-color:slategrey !important;
 cursor: pointer;
}
.icons:hover{
    border-radius: 50%;
    color: black;
    background-color: darkgray;
}
.card{
    transition: 0.5s;
}
.card:hover{
    transform: rotate(5deg);
}
.bots:hover{
    background-color: #00000094 !important;
}
